nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}
nav a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
body {
  text-align: center;
  font-family: sans-serif;
  background-color: #696969;
}
.accomplishments{
  text-align: justify;
  color: indigo;
}
img{
  width: 600px;
  height: 300px;
}
.hobbies{
  text-align: left;
  color: blue;
}
